@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;800&display=swap");

:root {
  --blueColor: #4285f4;
  --redColor: #db4437;
  --yellowColor: #f4b400;
  --greenColor: #0f9d58;
  --borderColor: #cccccc;
  --backgroundInputColor: #fafafa;
  --headlineColor: #2e3440;
}
/*   ---------------------   FOUNDATION   --------------------- */
* {
  font-family: sora, Arial, Helvetica, sans-serif;
}

body {
  margin: 0%;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}

h1 {
  font-weight: 800;
  margin: 0%;
  color: var(--headlineColor);
}

h2 {
  font-weight: 600;
  margin: 0px;
}

h3 {
  font-weight: 400;
  margin: 0px;
}

p {
  font-weight: 200;
}

header {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 21px 20px -9px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 21px 20px -9px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 21px 20px -9px rgba(0, 0, 0, 0.04);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  color: white;
}

button:hover {
  background-color: #3868cc;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  justify-self: stretch;
  place-items: start;
  padding: 2%;
}

/* ---------------------   Creating fillin form   --------------------- */
form {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 80%;
  padding: 5%;

  display: none;
  gap: 5%;
  justify-self: flex-end;

  flex: 1 1 100%;
  flex-wrap: wrap;

  background-color: white;
  border: 3px solid var(--borderColor);
  border-radius: 10px;

  z-index: 100;
}
.inputArea,
.textarea {
  justify-content: center;
  align-items: center;
  flex: 1 1 40%;
}

label {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

input {
  display: flex;
  padding: 10px 10px;

  border-collapse: collapse;
  border: none;
  border-radius: 5px;
}
input[type="text"],
input[type="number"],
input[type="textarea"] {
  background-color: var(--backgroundInputColor);
  box-shadow: -5px 5px 20px -9px rgba(0, 0, 0, 0.24) inset;
  -webkit-box-shadow: -5px 5px 20px -9px rgba(0, 0, 0, 0.24) inset;
  -moz-box-shadow: -5px 5px 20px -9px rgba(0, 0, 0, 0.24) inset;
}

input[type="textarea"] {
  min-height: 30vh;
}

form h3 {
  margin: 3% 0% 1% 0%;
}

.checkbox {
  justify-content: flex-start;
  flex-direction: row;
}
.btns {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.editBtn-el {
  display: none;
}

/* ---------------------   BOOKCARD   --------------------- */

.bookCard {
  display: flex;
  flex-direction: column;

  background-color: white;
  border: 3px solid var(--borderColor);
  border-radius: 5px;

  padding: 1rem;
  font-size: small;
}

.bookCard:hover {
  border: 3px solid var(--blueColor);
  box-shadow: -5px 5px 20px -9px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -5px 5px 20px -9px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -5px 5px 20px -9px rgba(0, 0, 0, 0.44);
}

.bookInfo {
  display: flex;
  gap: 5%;
}

.bookCard img {
  width: 30px;
  height: 30px;
}

.editBtnsBookCard {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2%;
  gap: 2%;
}
/* ---------------------   trashcan animation   --------------------- */

@keyframes rotateLit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animateLit {
  animation: rotateLit 1s linear infinite;
}
